<%= form_for(@slacker) do |f| %>
  <% if @slacker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slacker.errors.count, "error") %> prohibited this slacker from being saved:</h2>

      <ul>
      <% @slacker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :webhook_url %><br>
    <%= f.text_field :webhook_url %>
  </div>
  <div class="field">
    <%= f.label :channel_name %><br>
    <%= f.text_field :channel_name %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
