<p id="notice"><%= notice %></p>

<p>
  <strong>Webhook url:</strong>
  <%= @slacker.webhook_url %>
</p>

<p>
  <strong>Channel name:</strong>
  <%= @slacker.channel_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @slacker.username %>
</p>

<%= link_to 'Edit', edit_slacker_path(@slacker) %> |
<%= link_to 'Back', slackers_path %>
